<div class="search-container">
    <div class="search-box hidden">
        <div>
            <h2 (submit) = "getSearchResult()">iTunes api example</h2>
            <form class="search-form center">
                <div class="hidden center">
                  <input [(ngModel)]="searchInputText" type="text" class="search-input" name="search-field" placeholder="Search songs...">
                   <button (click) = "getSearchResult(searchInputText)"  class="search-button" type='submit'>
                      search
                   </button>
                </div>
              </form> 
            <p class="small-description center">Search by song title, author, song number, lyrics, catalog or copyright owner</p>
        </div>
    </div>
</div>
<div class="search-result-container">
    <div class="search-result-box center">
        <p class="found-songs-info">Found {{songsNum}} {{textSongs}}</p>
        <div class="search-result-container">
            
            <div *ngFor="let item of songsList" class="song-box">
                <a class="song-url" href="{{item.itunesUrl}}">
                <div class="song-thumbnail left">
                    <img src="{{item.thumbnailUrl}}" alt="Song's thumbnail">
                </div>
                <div class="song-description-container left">
                    <div class="song-description-box">
                        <p class="song-name">{{item.songName}}</p>
                        <hr class="center">
                        <p class="song-author">{{item.songAuthor}}</p>
                    </div>
                </div>
            </a>
            </div>
            <h2 class="center" *ngIf="songsNum == 0"> Sorry, no matches found</h2>

        </div>
    </div>
</div>