@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset styles*/

:root input:focus, :root button:focus {
    outline: none;
  }

  a {
    color: #2d2d2d !important;
    text-decoration: none
  }

body {
    line-height: 1;
    color: white;
    font-family:'Lato', sans-serif;
    font: 2em;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    margin: 4% 0 4% 0;
}

h2,input,p {
    display: block;
}

::placeholder {
    text-align: left;
}

.hidden {
    overflow: hidden;
}

.center {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header, .search-result-container{
    background-color: white;
}

.header {
    height: 5em;
    width: 80%;
    margin: 0 auto;
}

.header-container, .search-container, .search-result-conteiner {
    width: 100%;
}

.search-container {
    background-color: #2d2d2d;
}

.search-box{
    width: 45%;
    height: 100%;
    margin: 0 auto;
}

.small-description {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 5%;
}

.search-input, .search-button {
    float: left;
}

.search-button {
  height: 3em;
  width: 5.75em;
  background-color: #f7941d;
  outline: none;
  border: none;
  border-radius: 0 20px 20px 0;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search-input{
    line-height: 2em;
    height: 3em;
    width: 15em;
    border: none;
    text-align: left;
    text-decoration: none; 
    border-radius: 20px 0 0 20px;
    padding: 0 0 0 10px;
}

.search-form {
    width: 22em;
    margin-top: 5%;
}

.search-result-box {
    text-align: center;
    color: black;
    width: 90%;
}

.found-songs-info {
    margin: 1.2% 1.2% 0 1.2%;
}

.search-result-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.song-box {
    overflow: hidden;
    width: 31%;
    height: 12em;
    margin: 2% 1% 2% 1%;
    background-color: #f0f0f0;
}

.song-box:hover {
    cursor: pointer;
    border: solid #f7941d;
    box-shadow: 10px 10px 5px #f0f0f0;
}

.song-thumbnail {
    width: 27%;
    height: 70%;
    border: solid black;
    margin: 5%;
}

.song-description-container {
    width: 50%;
    height: 60%;
    margin: 0 2% 0 0;
    position: relative;
}

.song-description-container > .song-description-box > hr {
    margin-top: 5%;
    margin-bottom: 4%;
    width: 60%;
}

.song-description-box {
    margin-top: 20%;
    margin-bottom: 25%;
}

.song-thumbnail > img {
    width: 100%;
    height: 100%;
}

.song-url {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.logo-img{
    height: 100%;
}