@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap");

/*Reset standart styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset styles*/

:root input:focus, :root button:focus {
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none
  }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 9em;
    height: 100%;
    line-height: 1;
    color: white;
    font-family:'Lato', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    margin: 4% 0 4% 0;
}

h2,input,p {
    display: block;
}

::placeholder {
    text-align: left;
}

.hidden {
    overflow: hidden;
}

.center {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}